version: "3.9"
services:
  env:
    build: .
    stdin_open: true
    tty: true
    ports:
      - 8080:8080
    volumes:
      - ./:/root/work
    command: npm start
  rtsp: 
    image: aler9/rtsp-simple-server
    ports:
      - 8554:8554
    